fastapi>=0.110
uvicorn[standard]>=0.29
aprslib>=0.7.2
PyYAML>=6.0
jinja2>=3.1
pystray>=0.19; sys_platform == "win32" or sys_platform == "darwin"
Pillow>=10.0; sys_platform == "win32" or sys_platform == "darwin"
pyobjc-framework-Cocoa>=10.0; sys_platform == "darwin"
